.album-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    grid-gap: var(--grid-gap-sz);
    max-width: var(--content-width);
    justify-content: center;
}

.album-gallery figcaption {
    vertical-align: top;
    line-height: 1.2em;
    padding-top: 0.3rem;
    background: #ffffff;
}

.album-gallery[data-even] {
    grid-template-columns: repeat(4, 1fr);
}

.album-gallery[data-count="1"] {
    grid-template-columns: 1fr 1fr;
}

.album-gallery[data-count="2"] {
    grid-template-columns: 1fr 1fr;
}