.albums {
    display: grid;
    list-style: none;
    gap: var(--grid-gap-sz);
    line-height: 0;
}

@media screen and (min-width: 30em) {
    .albums {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 60em) {
    .albums {
        grid-template-columns: repeat(3, 1fr);
    }
}

.albums li {
    overflow: hidden;
}

.albums figure {
    position: relative;
    background: var(--logoblau);
}

.albums figcaption {
    vertical-align: top;
    line-height: 1.5em;
    padding-top: 1rem;
    background: #ffffff;
}

.albums figure img:hover {
    opacity: 0.5;
}